= form_for @admin_show, html: { class: 'form' } do |f|
  - if @admin_show.errors.any?
    #error_explanation
      %ul
        - @admin_show.errors.full_messages.each do |message|
          %li= message

  .field
    = f.text_field :local, placeholder: 'Local', required: true
  .field
    = f.date_select :date, {:use_month_names => ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro','Dezembro']}
  .field
    = f.text_field :time, placeholder: 'Horas', alt: 'time', required: true
  .field
    = f.text_area :description, placeholder: 'Descrição'
  .field
    = f.collection_select :band_id, Admin::Band.all, :id, :name, required: true
  .actions
    = f.submit 'Enviar'

:javascript
  $(document).ready(function() {
    $('input[type="text"]').setMask();
  });