#card
  %p#notice= notice

  %h1.title-f Bandas

  %table.table-list
    %thead
      %tr
        %th Nome
        %th Categoria
        %th.actions Ações
    %tbody
      - @admin_bands.each do |admin_band|
        %tr
          %td= admin_band.name
          %td= admin_band.admin_categories.name
          %td.actions
            = link_to 'Mostrar', admin_band
            = link_to 'Editar', edit_admin_band_path(admin_band)
            = link_to 'Excluir', admin_band, method: :delete, data: { confirm: 'Você tem certeza?' }