#card
  %h1.title-f
    Banda #
    = @admin_band.id

  #notice= notice

  .show
    %p
      %strong Nome:
      = @admin_band.name

    %p
      %strong Category:
      = @admin_band.admin_categories.name

    = link_to 'Editar', edit_admin_band_path(@admin_band)
    = link_to 'Voltar', admin_bands_path
